# Gradle files
.gradle/
build/

# IDE files
.idea/
*.iml
*.ipr
*.iws
*.zip
/.settings/

# Compiled class file
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Maven files
target/

# Eclipse files
.classpath
.project
.settings/

# Mac OS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini