<!DOCTYPE html>
<html>
<head>
  <title>BetBonanza</title>
  <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
<table id="myTable">
  <thead>
  <tr>
    <th onclick="sortTable(0)">Date</th>
    <th>Clubs</th>
    <th>Tournament</th>
    <th>Sport</th>
  </tr>
  </thead>
  <tbody>
      {{table_data}}
  </tbody>
</table>

<script>
        function sortTable(columnIndex) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchCount = 0;
            table = document.getElementById("myTable");
            switching = true;
            // Set the sorting direction to ascending
            dir = "asc";

            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("tr");

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = parseInt(rows[i].getElementsByTagName("td")[columnIndex].getAttribute("data-date"));
                    y = parseInt(rows[i + 1].getElementsByTagName("td")[columnIndex].getAttribute("data-date"));

                    if (dir == "asc") {
                        if (x > y) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x < y) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }

                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchCount++;
                } else {
                    if (switchCount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
</body>
</html>
